{% extends 'clean.html.twig' %}

{% block title %}Bienvenue sur mon blog{% endblock %}

{% block subtitleh %}Toute l'actualité du surf{% endblock %}


{% block body %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-10">

                    <h2>Catégorie : {{ category.name }}</h2>
                    
                    {% for post in posts %}
                        <!-- Post preview-->
                        <div class="post-preview post-content">
                            <a href="{{ path('post_view', {slug: post.slug}) }}">
                                <h3 class="post-title">{{ post.title }}</h3>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{{ app_cdn }}{{ post.image }}" alt="" class="pola2">
                                    </div>
                                    <div class="col-10">
                                        <div class="post-subtitle">{{ post.content  | u.truncate(150, '...')  | raw }}</div>
                                    </div>
                                </div>
                            </a>
                            <p class="post-meta">
                                Rédigé par <a href=""><span class="badge rounded-pill bg-info text-dark">{{ post.user.displayname }}</span></a>
                                - Publié {{ post.createdAt | ago }}
                                - Classé dans <a href="{{ path('app_category', {slug: post.category.slug}) }}"><span class="badge rounded-pill bg-danger text-dark">{{ post.category.name }}</span></a>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}
