{% extends 'sbadmin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
                <main>
                    <div class="container-fluid px-4">

                        <h1>
                            Liste des catégories
                            <a href="{{ path('admin_category_add') }}" class="btn btn-primary">Ajouter</a>
                        </h1>
                        
                        {# {{ dump(categories) }} #}

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Libellé</th>
                                            <th>Slug</th>
                                            <th>Parent</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>N°</th>
                                            <th>Libellé</th>
                                            <th>Slug</th>
                                            <th>Parent</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        {% for category in categories %}

                                            <tr>
                                                <td>{{ category.id }}</td>
                                                <td>{{ category.name }}</td>
                                                <td>{{ category.slug }}</td>
                                                <td>{{ category.parent }}</td>
                                                <td>
                                                    <a href="{{ path('admin_category_update', {id: category.id}) }}" class="btn btn-primary btn-sm">Modifier</a>

                                                    <a href="{{ path('admin_category_delete', {id: category.id}) }}" class="btn btn-warning btn-sm" onclick="return confirm('Suppression ?')">Supprimer</a>

                                                </td>
                                                <td>
                                                    <a href="" class="btn btn-danger btn-sm modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ category.id }}" data-title="{{ category.name }}">Supprimer</a>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    
                    </div>
                </main>

    <!-- Modal -->  
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer une catégorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>

<script>
    window.onload = () => {
        let btdeletes = document.querySelectorAll(".modal-trigger")
        for(let btdelete of btdeletes) {
            btdelete.addEventListener("click", function(){
                document.querySelector(".modal-footer a").href=`/admin/category/delete/${this.dataset.id}`
                console.log(document.querySelector(".modal-footer a").href)
                document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer la catégorie "${this.dataset.title}"`
            })
        }
    }
</script>
{% endblock %}