{% extends 'clean.html.twig' %}

{% block title %}Photographies argentiques : {{ filtervalue }}{% endblock %}

{% block subtitleh %}Photographies argentiques : {{ filtervalue }}{% endblock %}


{% block body %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-10">

                    <h2>{{ filter}} : {{ filtervalue }}</h2>
                    
                    {% for post in posts %}

                        {% if post.active %}
                            <!-- Post preview-->
                            <div class="post-preview post-content">

                                <a href="{{ path('post_view', {slug: post.slug}) }}">
                                    <h3 class="post-title">{{ post.title }}</h3>
                                    <div class="row">
                                        <div class="col-sm-5 col-lg-3">
                                            <img src="{{ app_cdn }}{{ post.image }}" alt="" class="pola2">
                                        </div>
                                        <div class="col-sm-7 col-lg-9">
                                            <div class="post-subtitle">{{ post.content  | u.truncate(150, '...')  | raw }}</div>
                                        </div>
                                    </div>
                                </a>

                                <!-- Les infos -->
                                <p class="post-meta">
                                    Photographie par <a href="{{ path('post_photographer', {displayname: post.user.displayName}) }}"><span class="badge rounded-pill bg-info text-dark">{{ post.user.displayname }}</span></a>
                                    - Publié <span class="badge rounded-pill bg-light text-dark">{{ post.createdAt | ago }}</span>
                                    - Classé dans <a href="{{ path('post_category', {slug: post.category.slug}) }}"><span class="badge rounded-pill bg-danger text-dark">{{ post.category.name }}</span></a>
                                </p>

                            </div>
                            
                            <!-- Divider-->
                            <hr class="my-4" />
                        {% endif %}

                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>

{% endblock %}
