{% extends 'clean.html.twig' %}

{% block title %}Blog de photographie argentique{% endblock %}

{% block subtitleh %}Photographie à l'ancienne{% endblock %}


{% block body %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <!-- Main list -->
                <div class="col-lg-8 col-md-8 col-xl-7">
                    
                    {% for post in posts %}
                        <!-- Post preview-->
                        <div class="post-preview post-content">
                            <a href="{{ path('post_view', {slug: post.slug}) }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <img class="pola" src="{{ app_cdn }}{{ post.image }}" alt="">
                            </a>

                            {{ post.content  | u.truncate(200, '...')  | raw }}

                            <p class="post-meta">
                                Tags : 
                                {% for tag in post.tags %}
                                    <a href="{{ path('app_tag', {slug: tag.slug}) }}" class="" aria-current="true">
                                        <span class="badge rounded-pill bg-warning text-dark">#{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            </p>

                            <p class="post-meta">
                                Rédigé par <a href=""><span class="badge rounded-pill bg-info text-dark">{{ post.user.displayname }}</span></a>
                                - Publié {{ post.createdAt | ago }}
                                - Classé dans <a href="{{ path('app_category', {slug: post.category.slug}) }}"><span class="badge rounded-pill bg-danger text-dark">{{ post.category.name }}</span></a>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
                    </div>

                </div>

                <!-- Sidebar -->
                <aside class="col-lg-3 col-md-4 mx-auto">

                    <!-- Carousel de photos aléatoires -->
                    <div class="widget">
                        <h3>10 x Random</h3>
                        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">

                                {% set a = 0 %}
                                {% for photo in randomPhotos %}
                                    
                                    {% set a = a + 1 %}
                                    <div class="carousel-item {{ (a==1)?'active':'' }}">
                                        <a href="{{ path('post_view', {slug: photo.slug}) }}">
                                            <img src="{{ app_cdn }}{{ photo.image }}" class="d-block" alt="...">
                                        </a>
                                        <div class="carousel-caption d-md-block">
                                            <h6>Photo #{{ a }}</h6>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <!-- Liste des catégories -->
                    <div class="widget">
                        <h3>Catégories</h3>
                        <div class="list-group">
                            {# {% for category in categories %}
                                <a href="{{ path('app_category', {slug: category.slug}) }}" class="list-group-item list-group-item-action" aria-current="true">
                                    {{ category.name }}
                                </a>
                            {% endfor %} #}
                            {% for category in categories %}
                                {% if category.categories | length != 0 %}
                                    <a href="{{ path('app_category', {slug: category.slug}) }}" class="list-group-item list-group-item-action" aria-current="true">{{ category.name }}</a>
                                    {% for enfant in category.categories | sort((a, b) => a.name <=> b.name) %}
                                        <a href="{{ path('app_category', {slug: category.slug}) }}" class="list-group-item list-group-item-action" aria-current="true" style="text-align: right">{{ enfant.name }}</a>
                                    {% endfor %}
                                {% else %}
                                    {% if not category.parent %}
                                        <a href="{{ path('app_category', {slug: category.slug}) }}" class="list-group-item list-group-item-action" aria-current="true">{{ category.name }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {# <!-- Liste des tagss -->
                    <div class="widget">
                        <h3>Tags</h3>
                        <div class="list-group">
                            {% for tag in tags %}
                                <a href="{{ path('app_tag', {slug: tag.slug}) }}" class="list-group-item list-group-item-action" aria-current="true">
                                    #{{ tag.name }} : {{ tag.posts | length }}
                                </a>
                            {% endfor %}
                        </div>
                    </div> #}

                    <!-- Liste des tagss -->
                    <!-- https://codepen.io/deadbead/pen/nzreda -->
                    <div class="widget">
                        <h3>Tags</h3>
                        <div id="myCanvasContainer">
                            <canvas id="myCanvas">
                            <p>Anything in here will be replaced on browsers that support the canvas element</p>
                            </canvas>
                        </div>
                        <div id="tags" style="font-size: 40%">
                            {% for tag in tags %}
                                <a href="{{ path('app_tag', {slug: tag.slug}) }}" style="font-size: {{ (tag.posts | length) * 2 }}ex">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                      </div>

                    <!-- Liste des anciens articles -->
                    <div class="widget">
                        <h3>5 x Archives</h3>
                        {% for oldPost in oldPosts %}
                            <div class="post-preview">
                                <a href="{{ path('post_view', {slug: oldPost.slug}) }}">
                                    <h4 class="post-subtitle">{{ oldPost.title }}</h4>
                                </a>
                                <p class="post-meta">{{ oldPost.createdAt | ago }}</p>
                            </div>
                        {% endfor %}
                    </div>

                </aside>

            </div>
        </div>
{% endblock %}

{% block js_end %}
    <script src="https://releases.jquery.com/git/jquery-2.x-git.min.js"></script>
    <script src="https://www.goat1000.com/jquery.tagcanvas.min.js"></script>
    <script src="{{ asset('clean/js/tagcloud.js') }}"></script>
{% endblock %}
