{% extends 'clean.html.twig' %}

{% block title %}Blog de photographie argentique{% endblock %}

{% block subtitleh %}Photographie à l'ancienne{% endblock %}


{% block body %}

        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">

                {% set a = 0 %}
                {% for photo in randomPhotos %}
                    {# {{ dump(a) }} #}
                    <div class="carousel-item {{ (a==0)?'active':'' }}">
                        <img src="{{ app_cdn }}{{ photo.image }}" class="d-block" alt="...">
                    </div>
                    {% set a = a + 1 %}

                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                
                <!-- Main list -->
                <div class="col-lg-8 col-md-8 col-xl-7">
                    
                    {% for post in posts %}
                        <!-- Post preview-->
                        <div class="post-preview post-content">
                            <a href="{{ path('post_view', {slug: post.slug}) }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <img class="pola" src="{{ app_cdn }}{{ post.image }}" alt="">
                            </a>

                            <p style="color: white">{{ post.content  | u.truncate(200, '...</div>')  | raw }}</p>

                            <p class="post-meta">
                                Rédigé par {{ post.user.email }}
                                - Publié {{ post.createdAt | ago }}
                                - Classé dans <a href="{{ path('app_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
                    </div>

                </div>

                <!-- Sidebar -->
                <div class="col-lg-3 col-md-4 mx-auto sidebar">
                    <h3>Les archives</h3>
                    
                    {% for oldPost in oldPosts %}
                        <div class="post-preview">
                            <a href="{{ path('post_view', {slug: oldPost.slug}) }}">
                                <h4 class="post-subtitle">{{ oldPost.title }}</h4>
                            </a>
                            <p class="post-meta">{{ oldPost.createdAt | ago }}</p>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
{% endblock %}
