{% extends 'clean.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block titleh %}{{ post.title }}{% endblock %}

{% block imageh %}<header class="masthead" style="background-image: url('{{ app_cdn }}{{ post.image }}'); background-position: center;">{% endblock %}

{% block body %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        Rédigé par {{ post.user.displayname }}
                        - Publié {{ post.createdAt | ago }}
                        - Classé dans {{ post.category.name }}
                        {% if is_granted("ROLE_USER") and post.user.id == app.user.id %}
                            <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                        {% endif %}
                    </div>

                    <div class="col-md-10 col-lg-8 col-xl-7 post-content">
                        <img class="pola" src="{{ app_cdn }}{{ post.image }}" alt="">
                        {{ post.content | raw }}
                    </div>

                    {# {{ dump(post.comments) }} #}

                    {% if(post.comments) %}
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Les commentaires</h2>
                        <ul class="list-group">
                            {# {{ dump(app.user) }} #}
                            {% for comment in post.comments %}
                                {# {{ dump(comment) }} #}
                                <li class="list-group-item">
                                    <b>{{ comment.createdAt | ago }}, {{ comment.user.email }} a écrit : </b>
                                    {% if is_granted("ROLE_USER") and comment.user.id == app.user.id %}
                                        <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href=""><i class="fa-solid fa-trash-can"></i></a>
                                    {% endif %}
                                    <br>
                                    {{ comment.content }}
                                </li>
                            {% endfor %}
                        </ul>                            
                    </div>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <h2>Ajout d'un commentaire</h2>
                            {{ form(form) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </article>
{% endblock %}
