{% extends 'clean.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block titleh %}{{ post.title }}{% endblock %}

{% block imageh %}<header class="masthead" style="background-image: url('{{ app_cdn }}{{ post.image }}'); background-position: center;">{% endblock %}

{% block body %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-10 col-xl-10 post-preview post-content">
                        <div class="post-preview post-content">
                    
                            <!-- L'article complet avec la photo et les infos -->
                            <p class="post-meta">
                                Rédigé par <a href="">{{ post.user.displayname }}</a>
                                - Publié {{ post.createdAt | ago }}
                                - Classé dans <a href="">{{ post.category.name }}</a>
                                {% if is_granted("ROLE_USER") and post.user.id == app.user.id %}
                                    <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                {% endif %}
                            </p>
                            <img class="pola" src="{{ app_cdn }}{{ post.image }}" alt="">
                            {{ post.content | raw }}

                            <!-- Le prix -->
                            <p class="post-meta">
                                Tirage en vente : <span class="badge rounded-pill bg-light text-dark">{{ post.price }} €</span
                            </p>

                            <!-- Les tags -->
                            <p class="post-meta">
                                Tags : 
                                {% for tag in post.tags %}
                                    <a href="{{ path('app_tag', {slug: tag.slug}) }}" class="" aria-current="true">
                                        <span class="badge rounded-pill bg-warning text-dark">#{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            </p>

                            <!-- Les infos -->
                            <p class="post-meta">
                                Rédigé par <a href=""><span class="badge rounded-pill bg-info text-dark">{{ post.user.displayname }}</span></a>
                                - Publié {{ post.createdAt | ago }}
                                - Classé dans <a href="{{ path('app_category', {slug: post.category.slug}) }}"><span class="badge rounded-pill bg-danger text-dark">{{ post.category.name }}</span></a>
                            </p>

                            <!-- Les commentaires -->
                            {% if(post.comments | length > 0) %}
                                <h2>Les commentaires</h2>
                                <ul class="list-group">
                                    {% for comment in post.comments %}
                                        <li class="list-group-item">
                                            <b>{{ comment.createdAt | ago }}, {{ comment.user.displayname }} a écrit : </b>
                                            {% if is_granted("ROLE_USER") and comment.user.id == app.user.id %}
                                                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                                <a href=""><i class="fa-solid fa-trash-can"></i></a>
                                            {% endif %}
                                            <br>
                                            {{ comment.content }}
                                        </li>
                                    {% endfor %}
                                </ul>                            
                            {% endif %}

                            <!-- Le formulaire de commentaire -->
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <h2>Ajout d'un commentaire</h2>
                                {{ form(form) }}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}
